fastapi==0.88.0
uvicorn
requests
python-jose
setuptools
boto3
jsonschema
httpx==0.27.2
mangum
aws-secretsmanager-caching
types-requests
pydantic[email]==1.10.17
python-dotenv
numpy==2.2.2
shapely==2.0.7
pyproj==3.6.1
sentry-sdk[fastapi]
mypy-boto3-kms

# this links to the utilities package deployed as part of 
# this provena repo - ensure this is correct in your 
# fast api application
../utilities/packages/python/fast-api-keycloak-auth

# Shared interfaces
../utilities/packages/python/provena-interfaces

# Provena Shared Functionality package
../utilities/packages/python/provena-shared-functionality
