fastapi==0.88.0
uvicorn
requests
python-jose
setuptools
boto3
jsonschema
httpx
mangum
aws-secretsmanager-caching
types-requests
pydantic[email]==1.*
python-dotenv

# this links to the utilities package deployed as part of 
# this provena repo - ensure this is correct in your 
# fast api application
../utilities/packages/python/fast-api-keycloak-auth

# Shared interfaces
../utilities/packages/python/shared-interfaces

# Shared Registry Functionality package
../utilities/packages/python/registry-shared-functionality