fastapi==0.88.0
uvicorn
requests
python-jose
setuptools
boto3
jsonschema
httpx
mangum
aws-secretsmanager-caching
types-requests
pydantic[email]==1.10.12
python-dotenv
shapely
pyproj
sentry-sdk[fastapi]

# this links to the utilities package deployed as part of 
# this provena repo - ensure this is correct in your 
# fast api application
../utilities/packages/python/fast-api-keycloak-auth

# Shared interfaces
../utilities/packages/python/provena-interfaces

# Provena Shared Functionality package
../utilities/packages/python/provena-shared-functionality