fastapi==0.88.0
uvicorn
requests
python-jose
python-multipart
setuptools
boto3
jsonschema
httpx
mangum
aws-secretsmanager-caching
pydantic==1.10.17
cachetools
aiocache
types-cachetools
python-dotenv
sentry-sdk[fastapi]
