# requires GITHUB_TOKEN as environment variable 
# Keycloak auth test package
git+https://${GITHUB_TOKEN}@github.com/${REPO_STRING}@${BRANCH_NAME}#egg=fast-api-keycloak-auth&subdirectory=utilities/packages/python/fast-api-keycloak-auth

# Shared interfaces
git+https://${GITHUB_TOKEN}@github.com/${REPO_STRING}@${BRANCH_NAME}#egg=shared-interfaces&subdirectory=utilities/packages/python/shared-interfaces