pytest
pyjwt[crypto]
setuptools
requests
pytest-dotenv
mypy
types-requests
pydantic[email]==1.10.17
networkx==3.*

# from utilities packages.
../../utilities/packages/python/keycloak-utils
../../utilities/packages/python/provena-interfaces
../../utilities/packages/python/provena-shared-functionality
