pytest
pyjwt[crypto]
setuptools
requests
pytest-dotenv
mypy
types-requests
pydantic[email]==1.*
networkx==3.*


# from utilities packages.
../../utilities/packages/python/keycloak-utils
../../utilities/packages/python/shared-interfaces
../../utilities/packages/python/registry-shared-functionality
