fastapi==0.88.0
uvicorn
requests
httpx==0.27.2
python-jose
setuptools
boto3
jsonschema
mangum
pydantic==1.10.17
python-dotenv
aws_secretsmanager_caching
sentry-sdk[fastapi]
# this links to the utilities package deployed as part of 
# this provena repo - ensure this is correct in your 
# fast api application
../utilities/packages/python/fast-api-keycloak-auth
../utilities/packages/python/provena-interfaces
../utilities/packages/python/provena-shared-functionality
