fastapi==0.88.0
uvicorn
requests
python-jose
python-multipart
setuptools
boto3
jsonschema
httpx
mangum
aws-secretsmanager-caching
pydantic==1.10.17
cachetools
aiocache
types-cachetools
prov
# prov-db-connector (can't use original due to bug - this is forked version)
git+https://github.com/gbrrestoration/prov-db-connector#egg=prov-db-connector
neo4j
networkx
python-dotenv
sentry-sdk[fastapi]
python-docx

# requires GITHUB_TOKEN as environment variable 
# Keycloak auth test package
git+https://${GITHUB_TOKEN}@github.com/${REPO_STRING}@${BRANCH_NAME}#egg=fast-api-keycloak-auth&subdirectory=utilities/packages/python/fast-api-keycloak-auth

# Shared interfaces
git+https://${GITHUB_TOKEN}@github.com/${REPO_STRING}@${BRANCH_NAME}#egg=provena-interfaces&subdirectory=utilities/packages/python/provena-interfaces

# Provena Shared Functionality
git+https://${GITHUB_TOKEN}@github.com/${REPO_STRING}@${BRANCH_NAME}#egg=provena-shared-functionality&subdirectory=utilities/packages/python/provena-shared-functionality