-r requirements.txt
-r job_requirements/dev.txt

docker-compose
moto[s3, dynamodb]

# pytest
pytest

# pytest plugins
pytest-dotenv
pytest-depends
pytest-docker==1.0.1
pytest-mock
pytest-asyncio

mypy
